.item {
  margin: 10px 0;
  box-sizing: border-box;
  padding-left: var(--padding);
}

.itemContent {
  flex-grow: 1;
  padding: 0 10px;
}

.itemClone {
  display: inline-block;
  pointer-events: none;
  padding: 20px 0 0 25px;
}

.itemContainerClone {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 15px 15px 0 rgba(34, 33, 81, 0.1);
}

.itemActions {
  display: flex;
  align-items: center;
}

.itemAction {
  display: flex;
  position: relative;
  transition: color 0.2s;
  justify-content: center;

  margin: 0;
  padding: 5px;

  color: #888;
  border: none;
  appearance: none;
  background: none;
  user-select: none;
  cursor: var(--cursor);

  svg {
    fill: #777;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    color: #000;
    outline: none;

    svg {
      fill: #000;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.itemDragging {
  & > * {
    box-shadow: none;
    background-color: transparent;
  }
}

.itemDraggingIndicator {
  z-index: 1;
  position: relative;
  margin-bottom: -1px;
  opacity: 1;
}

.itemContainer {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;

  padding: 10px;

  color: #222;
  background-color: #fff;

  border-radius: 5px;
  border: 1px solid #dedede;
}

.itemGhostSorting {
  pointer-events: none;
}

.itemContainerGhostIndicator {
  position: relative;
  padding: 0;
  height: 8px;
  border-color: #2389ff;
  background-color: #56a1f8;

  > * {
    height: 0;
    opacity: 0;
  }
}

.itemContainerGhostIndicatorCannotMove {
    border-color: #ff5233 !important;
    background-color: #ff7a5a !important;
}

.itemChildrenCount {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #2389ff;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  font-size: 12px;
}

.itemActionCollapse {
  svg {
    transition: transform 250ms ease;
  }
}

.itemActionCollapsed {
  svg {
    transform: rotate(-90deg);
  }
}

.virtualListWrapper {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
